body {
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.calculator {
    width: 320px;
    background-color: #000;
    padding: 20px;
}

.display {
    background: #000;
    color: white;
    font-size: 3.5rem;
    text-align: right;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 80px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    font-size: 1.8rem;
    border: none;
    padding: 22px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
    color: white;
}

.btn:active {
    transform: scale(0.95);
}

.gray {
    background-color: #a5a5a5;
    color: #000;
}

.orange {
    background-color: #ff9f0a;
}

.dark {
    background-color: #333;
}

.zero {
    grid-column: span 2;
    border-radius: 50px;
}

.back-link {
    margin-top: 20px;
    text-decoration: none;
    color: #ff9f0a;
    font-size: 1.1rem;
    font-weight: bold;
}
