body {
    background: #000;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: white;
}

.calculator {
    width: 320px;
}

.display {
    background: #1c1c1c;
    color: white;
    font-size: 48px;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.btn {
    border: none;
    font-size: 26px;
    border-radius: 50%;
    height: 70px;
    cursor: pointer;
}

.dark {
    background: #505050;
    color: white;
}

.gray {
    background: #d4d4d2;
    color: black;
}

.orange {
    background: #ff9500;
    color: white;
}

.zero {
    grid-column: span 2;
    border-radius: 50px;
}

.back-link {
    margin-top: 35px;
    color: #ff9500;
    text-decoration: none;
    font-size: 20px;
}
